@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #c2bc05 0%, #f5f5f5 100%);
}
p {
    color:black
}
 
 .nav-link {
    color:yellow
}

.navbar-nav .nav-link.active {
    color: rgb(143, 142, 142);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142) ;
}

.sidebar {
    color:yellow;
    background: linear-gradient(270deg, #c2bc05 0%, #9e9a9a 100%);


}

.card {
    background: linear-gradient(270deg, #c2bc05 0%, #f5f5f5 100%);
    color:rgb(18, 18, 17);
}

.card a {
    text-decoration: none;
    color:rgb(11, 11, 0);
}

.slide-text,
.footer-text {
    color: rgb(216, 236, 0);
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background:gray;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-anim {
    animation: CallAnim 2s ease 0s infinite normal forwards;
}

@keyframes CallAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


.bees {
    width: 650px;
    height: 650px;
}

.be {
    padding: 12em;
}

h1 {
    color: rgb(0, 0, 0);
}




.frame {
    width: 650px;
    height: 650px;
}

.type {
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}



.card-img-top {
    height: 600px;
}


.help {
    text-decoration: none;
    color: yellow;
}


.More {
    color: yellow;
    text-decoration: none;
}





@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}